<h2 class="head-line title_h2 text-center">商品編集</h2>
<div class='container'>
<div class="row">

  <%= form_for(@item, url: admin_item_path, method: :patch, class: "form-horizontal") do |f| %>
    <div class="col-xs-4">
      <div class="img_field">
        <%= attachment_image_tag(@item, :image, size: "250x180") %>
      </div>
      <div class="form-group">
	      <%= f.attachment_field :image, class: " image" %>
      </div>
    </div>

    <div class="col-xs-6">
        <div class="form-group">
          <%= f.label :"商品名", class: "col-sm-3 control-label" %>
          <%= f.text_field :name, class: "col-sm-9 form-control-static name" %>
        </div>
        <div class="form-group">
          <%= f.label :"商品説明", class: "col-sm-3 control-label" %>
          <%= f.text_area :description, class: "col-sm-9 control-label description" %>
        </div>
        <div class="form-group">
          <%= f.label :"ジャンル", class: "col-sm-3 control-label" %>
          <%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "-- 選択してください --", class: "col-sm-9 genre_id") %>
        </div>
        <div class="form-group">
          <%= f.label :"税抜価格", class: "col-sm-3 control-label" %>
          <%= f.text_field :price, class: "col-sm-3 form-control-static price" %>円
        </div>
        <div class="form-group">
          <%= f.label :"販売ステータス", class: "col-sm-3 control-label" %>
          <%= f.select :sale_status, [['販売中', true], ['販売停止', false]], prompt: "-- 選択してください --", class: "col-sm-9 sale_status" %>
        </div>
      <div class="actions">
	      <%= f.submit "変更を保存", class: "btn btn-primary pull-right" %>
      </div>

    </div>
  <% end %>
</div>
</div>