<div class="container">
  <div class="row">
    <div class="col-10">
      <%= form_with model: @customer, url: admin_customer_path(@customer.id), local: true do |f| %>
        <table class="table table-borderless">
          <tr>
            <th>会員ID</th>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <th>氏名</th>
            <td><%= f.text_field :last_name %><%= f.text_field :first_name %></td>
          </tr>
          <tr>
            <th>フリガナ</th>
            <td><%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %></td>
          </tr>
          <tr>
            <th>郵便番号</th>
            <td><%= f.text_field :postal_code %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= f.text_field :address %></td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td><%= f.text_field :phone_number %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= f.text_field :email %></td>
          </tr>
          <tr>
            <th>会員ステータス</th>
            <td>
              <div class="form-check form-check-inline">
                <%= f.radio_button :is_deleted, false, {class: "form-check-input"} %>
                <%= f.label :is_deleted, "有効", {value: false, class: "form-check-label"} %>
              </div>
              <div class="form-check form-check-inline">
                <%= f.radio_button :is_deleted, true, {class: "form-check-input"} %>
                <%= f.label :is_deleted, "退会", {value: true, class: "form-check-label"} %>
              </div>
            </td>
          </tr>
        </table>
        <div class="text-center">
          <%= f.submit "変更を保存", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>