<div class="container">
  <div class="row">
    <div class="col-10">
      <h1>注文履歴一覧</h1>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th class="text-center">注文日時</th>
            <th class="text-center">購入者</th>
            <th class="text-center">注文個数</th>
            <th class="text-center">注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td class="text-center">
                <%= link_to admin_order_path(order.id) do %>
                  <%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                <% end %>
              </td>
              <td class="text-center">
                <%= order.customer.last_name + order.customer.first_name %>
              </td>
              <td class="text-center">
                <% total_quantity = 0 %>
                <% order_items = order.order_items.all %>
                <% order_items.each do |order_item| %>
                  <% total_quantity += order_item.quantity %>
                <% end %>
                <%= total_quantity %>
              </td>
              <td class="text-center">
                <%= order.status_name %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>