<h1>注文履歴詳細</h1>
<table>
  <tr>
    <th>購入者</th>
    <td><%= @order.customer.last_name + @order.customer.first_name %></td>
  </tr>
  <tr>
    <th>注文日</th>
    <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
  </tr>
  <tr>
    <th>配送先</th>
    <td>
      <%= "〒#{@order.postal_code} #{@order.address}" %><br>
      <%= @order.name %>
    </td>
  </tr>
  <tr>
    <th>支払い方法</th>
    <td><%= @order.payment_option_name %></td>
  </tr>
  <tr>
    <th>注文ステータス</th>
    <td>
      <%= form_with model:@order, local:true do |f| %>
        <%= f.select :order_status, {"入金待ち": 0, "制作待ち": 1, "制作中": 2, "制作完了": 3}, {selected: @order.order_status} %>
        <%= f.submit "更新" %>
      <% end %>
    </td>
  </tr>
</table>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th>制作ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.item.name %></td>
        <td><%= order_item.price %></td>
        <td><%= order_item.quantity %></td>
        <td><%= order_item.price * order_item.quantity %></td>
        <td>
          <%= form_with url: admin_order_order_item_path(@order.id, order_item.id), method: :patch, local:true do |f| %>
            <%= f.select :production_status, {"着手不可": 0, "制作待ち": 1, "制作中": 2, "制作完了": 3}, {selected: order_item.production_status} %>
            <%= f.submit "更新" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>