<%= flash[:notice] %>

<h1>ジャンル一覧・追加</h1>
<table class="table">
 <tbody>
  <tr>
   <%= form_with model: @genre, local:true do |f|%>
    <%= f.text_area :name, class:"form-control"%>
    <%= f.submit "新規登録" %>
   <% end %>
  </tr>
  <h2>ジャンル</h2>
   <% @genres.each do |genre|%>
  <tr>
    <td><%= genre.name %></td>
    <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class:"btn btn-success" %></td>
   <% end %>
  </tr>
 </tbody>
</table>