<div class="container">
<h1>ジャンル一覧・追加</h1>
<%= form_with model: @genre, url: admin_genres_path, local:true do |f|%>
<table class="table table-borderless">
   <tr>
    <td>ジャンル名</td>
    <td><%= f.text_field :name, class:"form-control w-50"%></td>
    <td><%= f.submit "新規登録", class:"btn btn-success" %></td>
   </tr>
 </table>
 <% end %>
  
  
 <div class="col-4 ml-3">
  <div class="card">
   <tr>
    <div class="card-header">ジャンル</div>
   </tr>
   <table class="table">
   <% @genres.each do |genre|%>
   <tr>
    <td><%= genre.name %></td>
    <td></td>
    <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class:"btn btn-success" %></td>
   <% end %>
   </tr>
  </table>
  </div>
 </div>
</div>