<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class = "sample">
				<img src="assets/top.jpg" class="img-fluid">
				<p>
				  <span class="welcome">ようこそ、ながのCAKEへ！</span><br>
				  このサイトは、ケーキ販売のECサイトになります。<br>
				  会員でない方も商品の閲覧はできますが、<br>
				  購入には会員登録が必要になります。<br>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h2 class="toppage-head">新着商品</h2>
			<% @items.last(4). each do |item| %>
				<div class="item-container">
					<%= link_to item_path(item.id), class: "btn-link", :style=>"color:#0099FF;" do %>
						<div id="img_field" class="item">
							<%= attachment_image_tag(item, :image, size: "180x130", fallback: "no_image.jpg") %>
						</div>
						<p class="items-name">
							<%= item.name %>
						</p>
					<% end %>
					<% if item.sale_status == true %>
						<p>¥<%= item.price.to_s(:delimited) %></p>
					<% else %>
						<p class="soldout">売り切れ中</p>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-12 text-center">
			<%= link_to "もっと見る", items_path, class: "btn-link pull-right" %>
		</div>
	</div>
</div>